html
   head
      title Protected page
   body
      div 
       h2 Hey #{id}, How are you doing today?
      div 
       h2 Want to log out?
      div 
       h2
        a(href='/logout') logout