html
   head
      title Signup
   body
      if(message)
         h4 #{message}
         form(action="/signup", method="POST")
            input(name = "id")
            input(name = "password")
            button(type = "submit") Sign me up!